/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin: 0 auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	width: 1140px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 50px;
}
main{
	margin: 0 auto;
	width: 1140px;
}
footer{
	margin: 0 auto;
	width: 1140px;
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li a{
	text-decoration: none;
	color: black
	
}
nav li a:hover{
	color: #B1663C;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: em;
	display: flex;
	justify-content: flex-start;
}

#introduction p {
	margin-bottom: 0.5em;
	width: 70%;
}
#portfolio{
	gap: 50px;
    display: flex;
    flex-direction: column;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.filter-btn{
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 10px;
}
.filter-btn button{
	border: 1px solid #1D6154;
    border-radius: 60px;
    height: 37px;
    padding: 20px;
    display: flex;
    align-items: center;
	font-family: 'syne';
	color: #1D6154;
}
.filter-btn button:hover{
	color: white;
	background-color: #1D6154;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/*//////////////////////////////////////////////////////////////////*/
/*Login*/
.login{
	height: 40em;
	display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
	font-family: Syne;
}
.login h2{
	color: #1D6154;
}
.login form{
	display: flex;
	flex-direction: column;
	width: 30%;
	gap: 10px;
	color: #3D3D3D;
}
.login button{
	width: 20%;
	border: 2px solid #1D6154;
	padding: 20px;
	border-radius: 30px;
	background-color: #1D6154;
	color: white;
	font-family: Syne;
	font-size: 15px;
}
.login input{
	height: 5vh;
	border-style: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	outline: none;
}
.login a{
	color: #3D3D3D;
}
/*////////////////////////////////////////////////////////////////////////////*/
/*EditMode*/
#adminMode{
	display: none;
}
.deconnexion{
	display: none;
}
.editMode{
	display: flex;
	height: 59px;
	gap: 10px;
	background-color: black;
	color: white;
	justify-content: center;
	align-items: center;
	font-family: 'Work Sans';
	font-size: 10px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 5%
}
.editMode button{
	background-color: white;
	padding: 7px;
	font-size: 10px;
	border-radius: 25px;
	font-family: 'Work Sans';
	font-weight: 500;
	border-style: none;
}
.Admin{
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.modif{
	display: flex;
	gap: 10px;
	padding: 10px;
	color: black;
	font-family: 'Work Sans';
	font-size: 14px;
	font-weight: 400;
}
.modifButton{
	display: flex;
	width: 10%;
	gap: 10px;
	border: none;
	background-color: white;
}

/*MODALES*/
.modale{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #0000004D ;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modale-box{
	display: flex;
	align-items: center;
    justify-content: flex-start;
    flex-direction: column;
	background-color: white;
	width: 30%;
	height: 75%;
	border-radius: 10px;
	gap: 10px;
}
.gallery-modale{
	width: 80%;
    height: 50vh;
    border-bottom: 1px solid #B3B3B3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    gap: 1%;
}
.fa-xmark{
	margin-left: 85%;
	margin-top: 5%;
}
.imgModale{
	width: 100%;
	height: 12vh;
	object-fit: cover;
}
.figureModale{
	width: 19%;
	height: 17vh;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	font-size: 8px;
	font-family: 'Work Sans';
}
.buttonAdd{
	font-family: 'Syne';
	width: 50%;
	height: 35px;
	background-color: #1D6154;
	border: none;
	border-radius: 25px;
	color: white;
}
.supprGallery{
	width: 40%;
	color: #D65353;
	border: none;
	font-family: 'Syne';
	font-weight: 400;
	font-size: 8px;
	line-height: 16px;
	background-color: white;
}
.modale-title{
	font-size: 26px;
}
.containerImg {
	position: relative;
	display: inline-block;
}

.containerImg i {
	color: white;
}
.containerIconTrash{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	background-color: black;
	position: absolute;
	border-radius: 2px;
	top: 5%;
	left: 70%;
}
.containerIconCross{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 15px;
	height: 15px;
	background-color: black;
	position: absolute;
	border-radius: 2px;
	top: 5%;
	left: 42%;
}

.ajouttilte{
	font-size: 26px;
}
.icones{
	display: flex;
    align-items: center;
    width: 90%;
    height: 10%;
    justify-content: space-between;
}
.blocAjout{
	width: 100%;
	height:45%;
	background-color: #E8F1F6;
	display: flex;
	align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.imgPreviewResult{
	height: 24vh;
}
#files-button{
	background-color: #CBD6DC;
	border: none;
	width: 50%;
	height: 20%;
	border-radius: 25px;
	font-family: 'Work Sans';
	font-size: 14px;
	color: #306685 ;
	font-weight: 500;
}
#input-file{
	width: 12%;
    height: 5%;
    position: absolute;
    bottom: 60%;
	opacity: 0;
}
.fa-angle-down{
	position: absolute;
    right: 40%;
    bottom: 33%;
	color: #6C6C6C;
}
.conditions{
	font-size:12px;
	height: 20%;
}
.modale-box-ajout{
	display: flex;
	align-items: center;
    flex-direction: column;
	background-color: white;
	width: 30%;
	height: 75%;
	border-radius: 10px;
}
.fa-image{
	color: #B9C5CC;
}
.ajouttitle{
	font-size: 26px;
	height: 10%;
}
.modale-contenu{
	display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
	height: 100%;
}
.modale-contenu form input{
	width: 100%;
	height: 25%;
	border: none;
	outline: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modale-box-ajout form select{
	width: 100%;
	height: 30%;
	border: none;
	appearance: none;
	font-family: 'Work Sans';
	margin-bottom: 5%;
	outline: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
.modale-contenu form{
	height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
	color: #3D3D3D;
	font-family: 'Work Sans';
	font-size: 16px;
	font-weight: 500;
	gap: 5%;
}
.divInput{
	display: flex;
    border-bottom: 1px solid #B3B3B3;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    height: 50%;
}
.btn-valider{
	background-color: #A7A7A7;
	border: none;
	border-radius: 60px;
	width: 65%;
    height: 10%;
	margin-top: 23px;
	font-family: 'Syne';
	color: white;
	font-size: 14px;
}
.hidden{
	display: none;
}
.active{
	display: flex;
}
.green{
	background-color: #1D6154;
}